@{
	ViewData["Title"] = "Forget Password";
	Layout = "";

}




<link rel="stylesheet" href="~/css/loginform.css" asp-append-version="true" />



<div class="body-b">



	<div class="form-container">

		@if (TempData["FalseEmail"] is not null)
		{
			<div class="alert alert-danger text-red" >

				<h3>@TempData["FalseEmail"]</h3>
			</div>
		}

		<form asp-action="ForgetPassword" method="post">

			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" id="email" name="Email" class="form-control" required />
			</div>

			<button type="submit" class="submit-button">Reset Password</button>

		</form>

	</div>

</div>

<style>
	.text-red{
		background-color: darkred;
		color:aliceblue;
		text-align:center;
		border-radius: 10px;
		padding: 1px;
		margin-bottom: 10px;
	}
</style>