@using HumanResourcesMVC.Models.DTO_s.Password
@model ResetPasswordModel

@{
    Layout = "";
    ViewData["Title"] = "Set Password";
}

<link rel="stylesheet" href="~/css/loginform.css" asp-append-version="true" />

<div class="body-b">
    <div class="form-container">
        <form asp-action="SetPassword" method="post">
            <input type="hidden" asp-for="Token" />
            <input type="hidden" asp-for="Email" />

            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" type="password" class="form-control" />
                <span asp-validation-for="NewPassword"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>

            <button type="submit" class="submit-button">Set Password</button>
        </form>
    </div>
</div>


